---
import Navbar from '../components/navbar.astro'
import Card2 from '../components/card2.astro'
import Slider from '../components/slider.astro'
import Products from '../components/products.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ing Tech</title>
	</head>
	<body class=" w-full h-screen">
		<Navbar/>
			<main>
				<Slider/>
				<Products/>
			</main>
			<Footer/>
	</body>
</html>
