---
import PhoneData from '../content/phones.json'
import Card from '../components/card.astro'
import Navbar from '../components/navbar.astro'
import Card2 from '../components/card2.astro'
import Slider from '../components/slider.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ing Tech</title>
	</head>
	<body class=" w-screen h-screen">
		<Navbar/>
			<main class="bg-white">
				<Slider/>
				
				{/* 
				<h2 class="text-2xl font-bold tracking-tight text-gray-900">Nuestros Productos</h2>
				<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
				  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
					{PhoneData.phones.map(phone =>(<Card2 phones={phone} />))}
				  </div>
				</div>*/}
				}
			</main>
	</body>
</html>
