---
import Navbar from '../components/navbar.astro'
import Card2 from '../components/card2.astro'
import Slider from '../components/slider.astro'
import Products from '../components/products.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Compra los últimos modelos de iPhone en Ing Tech. Envío rápido y precios competitivos.">
		<meta name="keywords" content="iPhone, Apple, venta de iPhones, comprar iPhone, modelos de iPhone, Ing Tech">
		<link rel="canonical" href="https://www.ingtech.store/">
		<meta name="robots" content="index, follow">
		<meta property="og:title" content="Ing Tech - Venta de iPhones">
		<meta property="og:description" content="Compra los últimos modelos de iPhone en Ing Tech.">
		<title>Ing Tech - Venta de iPhones</title>
	</head>
	<body class=" w-full h-screen">
		<Navbar/>
			<main>
				<Slider/>
				<Products/>
			</main>
			<Footer/>
	</body>
</html>
