---
import 'animate.css';

//importamos imagenes
//Iphone Blue
import blue1 from '../assets/slider/blue/blue-1.png'
import blue2 from '../assets/slider/blue/blue-2.png'
import blue3 from '../assets/slider/blue/blue-3.png'
import blue4 from '../assets/slider/blue/blue-4.png'
//Iphone Green
import green1 from '../assets/slider/green/green-1.png'
import green2 from '../assets/slider/green/green-2.png'
import green3 from '../assets/slider/green/green-3.png'
import green4 from '../assets/slider/green/green-4.png'
//Iphone midnight
import midnight1 from '../assets/slider/midnight/midnight-1.png'
import midnight2 from '../assets/slider/midnight/midnight-2.png'
import midnight3 from '../assets/slider/midnight/midnight-3.png'
import midnight4 from '../assets/slider/midnight/midnight-4.png'
//Iphone pink
import pink1 from '../assets/slider/pink/pink-1.png'
import pink2 from '../assets/slider/pink/pink-2.png'
import pink3 from '../assets/slider/pink/pink-3.png'
import pink4 from '../assets/slider/pink/pink-4.png'
//Iphone red
import red1 from '../assets/slider/red/red-1.png'
import red2 from '../assets/slider/red/red-2.png'
import red3 from '../assets/slider/red/red-3.png'
import red4 from '../assets/slider/red/red-4.png'
//Iphone starlight
import starlight1 from '../assets/slider/starlight/starlight-1.png'
import starlight2 from '../assets/slider/starlight/starlight-2.png'
import starlight3 from '../assets/slider/starlight/starlight-3.png'
import starlight4 from '../assets/slider/starlight/starlight-4.png'
---

<client:only>
    <script>
        import Swiper from 'swiper';
        import { Autoplay } from 'swiper/modules';
        import 'swiper/css';
        import 'swiper/css/autoplay';
    
        // Inicializa Swiper con autoplay
        const swiper = new Swiper('.swiper', {
          direction: 'horizontal', // Dirección del swiper (horizontal o vertical)
          loop: true, // Hacer loop del swiper
          autoplay: {
            delay: 2000, // Tiempo de espera entre diapositivas en milisegundos (2 segundos en este caso)
          },
          modules: [Autoplay], // Agrega el módulo de autoplay
          fadeEffect: {
            crossFade: true // Habilita el efecto de fade entre diapositivas
          }
        });
      </script>
</client:only>
<div class="h-[450px]  relative mb-20 sm:columns-2">
  <div class="h-full flex justify-center items-center z-10 relative">
    <h1 class="font-bold text-6xl text-center max-sm:text-4xl">¿Estás buscando tu primer Iphone?</h1>
  </div>
  <div class="h-full relative max-sm:hidden">
    <div class="swiper absolute top-0 left-0 h-full w-full ">
      <div class="swiper-wrapper">
        <div class="swiper-slide relative">
          <img src="/public/img/slider/starlight/starlight-2.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInDown'/>
          <img src="/public/img/slider/starlight/starlight-1.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInUp'/>
          <img src="/public/img/slider/starlight/starlight-3.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInLeft'/>
          <img src="/public/img/slider/starlight/starlight-4.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInRight'/>
        </div>
        <div class="swiper-slide relative">
          <img src="/public/img/slider/starlight/starlight-2.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInDown'/>
          <img src="/public/img/slider/starlight/starlight-1.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInUp'/>
          <img src="/public/img/slider/starlight/starlight-3.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInLeft'/>
          <img src="/public/img/slider/starlight/starlight-4.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInRight'/>
        </div>
  </div>
</div>
