---
import 'animate.css';
---

<client:only>
    <script>
        import Swiper from 'swiper';
        import { Autoplay } from 'swiper/modules';
        import 'swiper/css';
        import 'swiper/css/autoplay';
    
        // Inicializa Swiper con autoplay
        const swiper = new Swiper('.swiper', {
          direction: 'horizontal', // Dirección del swiper (horizontal o vertical)
          loop: true, // Hacer loop del swiper
          autoplay: {
            delay: 2000, // Tiempo de espera entre diapositivas en milisegundos (2 segundos en este caso)
          },
          modules: [Autoplay], // Agrega el módulo de autoplay
          fadeEffect: {
            crossFade: true // Habilita el efecto de fade entre diapositivas
          }
        });
      </script>
</client:only>
<div class="h-[450px]  relative mb-20 sm:columns-2">
  <div class="h-full flex justify-center items-center z-10 relative">
    <h1 class="font-bold text-6xl text-center max-sm:text-4xl">¿Estás buscando tu primer Iphone?</h1>
  </div>
  <div class="h-full relative max-sm:hidden">
    <div class="swiper absolute top-0 left-0 h-full w-full ">
      <div class="swiper-wrapper">
        <div class="swiper-slide relative">
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/starlight/starlight-2.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInDown'/>
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/starlight/starlight-1.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInUp'/>
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/starlight/starlight-3.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInLeft'/>
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/starlight/starlight-4.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInRight'/>
        </div>
        <div class="swiper-slide relative">
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/blue/blue-1.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInUp'/>
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/blue/blue-1.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInLeft'/>
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/blue/blue-1.pngg" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInDown'/>
          <img src="https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/public/img/slider/blue/blue-1.png" alt='Iphone 13 Starlight' class='absolute top-0 left-0 w-full h-full object-cover animate__animated animate__fadeInRight'/>
        </div>
  </div>
</div>
